<div class="menu">
  <p class="menu__title">Zagraj z innymi</p>
  <h5 class="menu__subtitle">Dostępne pokoje:</h5>
  <p class="menu__game_type">Makao</p>
  <div *ngIf="roomsListMacao.length > 0; then roomsMacao; else noRooms"></div>
  <ng-template #roomsMacao>
    <div *ngFor="let room of roomsListMacao">
      <div class="menu__list__room" [class.menu__list__room--clicked]="currentRoomId === room.id" (click)="toggleRoom(room.id)">
        <p>{{ room.name }}</p>
        <div class="room__info_box">
          <div *ngIf="room.password !== null">
            <img
              class="room__info_box_img"
              src="../../assets/img/lockIcon.png"
              alt="lock"
            />
          </div>
          <p>{{ room.peopleInRoom }}/{{ room.maxPeople }}</p>
        </div>
      </div>
    </div>
  </ng-template>
  <p class="menu__game_type">Pan</p>
  <div *ngIf="roomsListPan.length > 0; then roomsPan; else noRooms"></div>
  <ng-template #roomsPan>
    <div *ngFor="let room of roomsListPan">
      <div class="menu__list__room" [class.menu__list__room--clicked]="currentRoomId === room.id" (click)="toggleRoom(room.id)">
        <p>{{ room.name }}</p>
        <div class="room__info_box">
          <div *ngIf="room.password !== null">
            <img
              class="room__info_box_img"
              src="../../assets/img/lockIcon.png"
              alt="lock"
            />
          </div>
          <p>{{ room.peopleInRoom }}/{{ room.maxPeople }}</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #noRooms>
    <p style="text-align: center">
      Wygląda na to że nie ma żadnych dostępnych pokoi dla tej gry
    </p>
  </ng-template>
  <button class="button" (click)="checkRoomPassword()">Graj</button>
  <div class="menu__error"></div>
  <form [hidden]="!isPasswordBoxVisible" (ngSubmit)="checkPassword()">
    <div class="menu__password_box">
      <input
        class="menu__input"
        type="password"
        [(ngModel)]="targetRoomPassword"
        name="targetRoomPassword"
        placeholder="Podaj hasło..."
      />
      <input value="Wejdź" type="submit" class="button" />
    </div>
  </form>
  <h5>lub stwórz własny</h5>
  <button class="button" routerLink="/createGame">Stwórz grę</button>
  <button class="button" routerLink="/">Powrót</button>
</div>
