<div class="spinner">
  <div *ngIf="isGameAdmin !== true">
    <mat-spinner class="spinner__circle" color="accent"></mat-spinner>
  </div>
  <p>Lista graczy w pokoju:</p>
  <div *ngFor="let player of playersListQueue">
    <p>{{ player.username }}</p>
  </div>
  <div *ngIf="isGameAdmin !== null">
    <div *ngIf="isGameAdmin; then admin; else commonPlayer"></div>
    <ng-template #commonPlayer>
      <p>Poczekaj, aż gospodarz rozpocznie grę</p>
    </ng-template>
    <ng-template #admin>
      <div class="spinner_info">
        <button class="button" (click)="startGame()">Rozpocznij grę</button>
      </div>
    </ng-template>
  </div>
</div>
