<div class="page"  *ngIf="gameStarted">
    <div class="game">
        <app-opponent-panel class="top__player"></app-opponent-panel>
        <app-opponent-panel vertical="true" class="left__player"></app-opponent-panel>
        <app-opponent-panel vertical="true" class="right__player"></app-opponent-panel>
        <app-player-panel class="bottom__player"></app-player-panel>
        <app-card-table class="middle"></app-card-table>
    </div>
    <!-- <div class="score__board">
        <app-score-board></app-score-board>
    </div> -->
</div>