<div class="page" *ngIf="!waitingForStart">
  <div *ngIf="gameType === 'Macao'; then macao; else pan"></div>
  <ng-template #macao>
    <div class="game">
      <app-macao-opponent-panel
        [deckPosition]="0"
        class="top__player"
      ></app-macao-opponent-panel>
      <app-macao-opponent-panel
        [deckPosition]="1"
        vertical="true"
        class="left__player"
      ></app-macao-opponent-panel>
      <app-macao-opponent-panel
        [deckPosition]="2"
        vertical="true"
        class="right__player"
      ></app-macao-opponent-panel>
      <app-macao-player-panel class="bottom__player"></app-macao-player-panel>
      <app-macao-card-table class="middle"></app-macao-card-table>
    </div>
  </ng-template>

  <ng-template #pan>
    <div class="game">
      <app-pan-opponent-panel
        [deckPosition]="0"
        class="top__player"
      ></app-pan-opponent-panel>
      <app-pan-opponent-panel
        [deckPosition]="1"
        vertical="true"
        class="left__player"
      ></app-pan-opponent-panel>
      <app-pan-opponent-panel
        [deckPosition]="2"
        vertical="true"
        class="right__player"
      ></app-pan-opponent-panel>
      <app-pan-player-panel class="bottom__player"></app-pan-player-panel>
      <app-pan-card-table class="middle"></app-pan-card-table>
    </div>
  </ng-template>
  <div class="score__board">
    <app-score-board></app-score-board>
  </div>
  <app-chat [roomID]="roomID" [userName]="userName"></app-chat>
</div>

<div *ngIf="waitingForStart === true">
  <app-loading-spinner-game
    [playersListQueue]="playersListQueue"
    (messageEvent)="startGame()"
    [isGameAdmin]="isGameAdmin"
  ></app-loading-spinner-game>
</div>

<div *ngIf="isEnd">
  <div class="game_results">
    <div class="game_results__inner">
      <h2>Koniec gry</h2>
      <button class="button game__labels__btn" (click)="exitGame()">
        Wyjdź z gry
      </button>
    </div>
  </div>
</div>
