.page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 6fr 1fr;
  column-gap: 15px;
}

.game {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 0;
  row-gap: 9px;
}

.score__board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top__player {
  grid-row: 1;
  grid-column: 2;
  place-self: center;
}

.bottom__player {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 3;
  place-self: center;
  width: 100%;
}

.left__player {
  grid-row: 2;
  grid-column: 1;
  justify-self: end;
  align-self: start;
}

.right__player {
  grid-row: 2;
  grid-column: 3;
  justify-self: start;
  align-self: start;
}

.middle {
  grid-row: 2;
  grid-column: 2;
  width: 100%;
  height: 100%;
}

.game_results{
  width: 100%;
  height: 100%;
  background-color: rgba(8, 8, 21, 0.8);
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game_results__inner{
  position: relative;
  top: 0;
  left: 0;
  transform: translateY(10px);
  margin: 0 auto;
  width: 50%;
  height: 60%;
  background-color: #f1eaea;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 110000;
  font-weight: bolder;
  font-size: 1.1em;
}

@media only screen and (max-width: 950px) {
  .page {
    column-gap: 0;
  }

  .game {
    display: grid;
    grid-template-columns: 120px 360px 120px;
    grid-template-rows: repeat(3, 33%);
  }
}
