<div class="grid">
  <div></div>
  <div class="grid__center">
    <img
      [hidden]="!isUserTurn"
      class="arrow__image arrow__bottom"
      src="../assets/img/arrow.png"
    />
    <p class="player_name">{{ userName }}</p>
    <div
      class="card__row"
      [ngStyle]="{
        'grid-template-columns':
          'repeat(' + (cards.length - 1) + ', 16px) 120px'
      }"
    >
      <img
        class="card__image"
        *ngFor="let card of cards; let i = index"
        [ngStyle]="{ 'grid-column': +(i + 1), 'z-index': +i }"
        [src]="card.image"
        (click)="chooseCard(card.value, $event)"
      />
    </div>
  </div>
  <div class="control_panel">
    <p class="control_panel__info">Ruch gracza: {{ turn.userName }}</p>
    <div *ngIf="currentAction !== null">
      <p class="control_panel__info">
        {{ currentAction.text }}
      </p>
      <button
        *ngIf="
          currentAction.type === 'Draw' ||
          currentAction.type === 'Draw previous'
        "
        class="button"
        (click)="makeAction()"
      >
        Dobierz {{ currentAction.content }} kart/y
      </button>
      <button
        *ngIf="
          currentAction.type === 'Stop' ||
          currentAction.type === 'Color change' ||
          currentAction.type === 'Request'
        "
        class="button"
        (click)="nextPlayer()"
      >
        Stój
      </button>
      <button
        *ngIf="
          currentAction.type === 'Color change' ||
          currentAction.type === 'Request'
        "
        class="button"
        (click)="playCards()"
      >
        Zagraj karty
      </button>
    </div>
    <div *ngIf="currentAction === null">
      <button *ngIf="isTableCardTaken" class="button" (click)="nextPlayer()">
        Stój
      </button>
      <p *ngIf="!isPossibleMoveFlag" class="control_panel__info">
        Brak możliwości ruchu
      </p>
      <p
        *ngIf="!isPossibleMoveFlag && !isTableCardTaken"
        class="control_panel__info"
      >
        Dobierz kartę
      </p>
      <button class="button" (click)="playCards()">Zagraj karty</button>
    </div>
  </div>
</div>

<div *ngIf="isDemand === true">
  <app-macao-demand-view
    [demandVersion]="demandVersion"
    (messageEvent)="getDemandAnswer($event)"
  ></app-macao-demand-view>
</div>
